body {
    text-align: center;
    background-color: #EEEEEE;
    font-family: "Helvetica";
}

#main {
    top: 0;
    width: 100%;
    height: 100vh;
    background: url("https://xuyanghan.github.io/assets/img/IMG_5215.JPG") center center no-repeat;
    background-size: cover;
    position: fixed;
    box-shadow: inset 2000px 0 0 0 rgba(255, 255, 255, 0.8);
    overflow-y: auto;
}

#title {
    margin-top: 2rem;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    color: #45505b;
}

form {
    padding: 2rem;
    width: 50%;
    margin: auto;
    line-height: 1.5;
    background-color: #1565C0;
    border-radius: 0.5rem;
    opacity: 0.7;
    text-align: left;
}

form .text-input {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.2rem;
}

form .input-textarea {
    width: 100%;
    border-radius: 0.2rem;
}

form .form-group {
    margin-bottom: 1rem;
}

form label {
    font-weight: 700;
    color: black;
}

footer {
    margin-top: 2rem;
    padding-top: 2rem;
}